body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #231f20; 
  background: #fff200;
}

.header {
  margin-top: 50px;
}
.navigationbar li {
  margin-bottom: 13px;
}
.navigationbar li a {
  font-size: 38.5px;
  color: #231f20;
  font-weight: bold;
}
.navigationbar li.active a {
  text-decoration: underline;
}

/* BODY */
.body {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* CALENDAR */
.calendar-day h1 {
  text-align: center;
}
.calendar-activity hr {
  border-top: 0;
  border-bottom: 3px dashed #000;
}
.calendar-activity h2 {
  font-family: VT323;
  font-weight: normal;
  line-height: 20px;
}

footer h1 {
  margin-bottom: 40px;
}
footer .mwc-1 address p {
  margin: 0;
  font-weight: bold;
}
footer .location {
  text-decoration: underline;
}
footer .brand {
  border-top: 3px dashed;
  border-bottom: 3px dashed;
  font-family: VT323;
}
footer .background {
  height: 200px;
  background-image: url("../img/background.png");
  background-repeat: repeat-x;
  margin-top: 50px;
}

