<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 segueixnos">
        <h1>Segueix-nos</h1>
        <div class="row">
          <div class="col-sm-4"><a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o fa-2x"></i><!--{{ site.email }}--></a></div>
          <div class="col-sm-4"><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter fa-2x"></i><!--{{ site.twitter_username }}--></a></div>
          <div class="col-sm-4"><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fa fa-facebook fa-2x"></i><!--{{ site.facebook_username }}--></a></div>
          <!--<div class="col-sm-4"><i class="fa fa-youtube fa-3x"></i></div>-->
        </div>
      </div>
      <div class="col-sm-3 mwc-1">
        <h1>Repensem el model de ciutat.</h1>
        <h4>www.sobtec.cat</h4>
        <address>
          <p class="location">Facultat</p>
          <p class="location">de Biblioteconomia</p>
          <p class="location">i Documentació</p>
          <p class="location">de la UB.</p>
          <p>C/Melcior de Palau, 140,</p>
          <p>08014 BCN</p>
          <p>(19 i 20 febrer 2016)</p>
        </address>
      </div>
      <div class="col-sm-5 organitza">
        <h1>Organitza</h1>
        <img src="{{ site.baseurl }}/img/grup_promotor.png" alt="Logotip Grup Promotor Congrés Sobirania Tecnologica" />
      </div>
    </div>
  </div>
  <div class="background"></div>
</footer>

<!-- JS
<script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
-->
