<div id="movetxt">
  <p>
    {% for txt in site.data.header_txts %}
      <b>{{txt.name}}</b>: {{ txt.msgs | sample:1 }}
    {% endfor %}
  </p>
</div>
<div class="container header">
  <div class="row">
    <div class="col-xs-4">
      <a class="brand" href="#"><img class="img-responsive" src="{{ site.baseurl }}/img/logo_congres.png" /></a>
    </div>
    <div class="col-xs-4 col-xs-offset-4 ">
      <ul class="navigationbar list-unstyled">
        <li class="active"><a href="#">Calendari</a></li>
        <li><a href="">Inscriute-te</a></li>
      </ul>
    </div>
  </div>
</div>
