<div id="movetxt">
  <p>
    {% for txt in site.data.header_txts %}
      <b>{{txt.name}}</b>: {{txt.msg}}
    {% endfor %}
  </p>
</div>
<div class="container header">
  <div class="row">
    <div class="span4">
      <a class="brand" href="#"><img src="{{ site.baseurl }}/img/logo_congres.png" /></a>
    </div>
    <div class="span4 offset4 ">
      <ul class="navigationbar unstyled">
        <li class="active"><a href="#">Calendari</a></li>
        <li><a href="">Inscriute-te</a></li>
      </ul>
    </div>
  </div>
</div>
